{% extends 'layout.html.twig' %}

{% block title %}Ajout d'un type{% endblock %}

{% block body %}
{{ form_start(formulaire) }}
<div class="card text-center border-info mb-3">
    <div class="card-header">
        <h5>Ajout d'un type</h5>
    </div>
    <div class="card-body">
        {{ form_row(formulaire.nom) }}
    </div>
    <div class="card-footer text-muted">
        {{ form_end(formulaire) }}        
    </div>
</div>
{% endblock %}
