{% extends 'layout.html.twig' %}

{% block title %}Liste des types{% endblock %}

{% block body %}
    <h1>
        <p>Liste des types</p><a href="{{path('typeController_type_add')}}"><button type="button" class="btn btn-primary">Ajouter</button></a>
    </h1>
    {% for types in liste_types %}
    <div class="card border-secondary mb-3">
        <h5 class="card-header">{{types.nom}}</h5>
        <div class="card-body">
            <a href="{{path('typeController_type_update',{id:types.id})}}"><button type="button" class="btn btn-warning">Modifier</button></a>
            <a href="{{path('typeController_type_delete',{id:types.id})}}"><button type="button" class="btn btn-danger">Supprimer</button></a>
        </div>
    </div>
    </p>
    {% endfor %}
{% endblock %}
