{% extends 'layout.html.twig' %}

{% block body %}
    <h1>
        <p>Liste des types</p><a href="{{path('typeController_type_add')}}"><button type="button" class="btn btn-outline-primary">Ajouter</button></a>
    </h1>
    {% for types in liste_types %}
        <tr>
            <td> 
                <br> 
                    {{types.nom}}
                    </br>
                    <br>
                        <a href="{{path('typeController_type_update',{id:types.id})}}"><button type="button" class="btn btn-outline-dark">Modifier</button></a>
                        <a href="{{path('typeController_type_delete',{id:types.id})}}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a>
                    </br>
                </br> 
            </td>
        </tr>
    {% endfor %}
{% endblock %}
