{% extends 'layout.html.twig' %}

{% block title %}Modification d'un type{% endblock %}

{% block body %}
    <h1> Page de modification des types de salle </h1>
    {{ form(formulaire) }}
{% endblock %}
