{% extends 'layout.html.twig' %}

{% block title %}Ajout d'un service{% endblock %}

{% block body %}
    <h1>Ajout d'un service</h1>

    <td>{{form(formulaire)}}</td>
    <pre>
        Revenir à la liste des services <a href="{{ path('service_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}