{% extends 'layout.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <h1>
        <p>Les services</p><a href="{{ path('service_add' ) }}"><button type="button" class="btn btn-primary">Ajouter</button></a>
    </h1>
    {% if services|length > 0 %}
    {% for i in 0..services|length - 1 %}
    <div class="card border-secondary mb-3">
        <h5 class="card-header">{{services[i].nom }}</h5>
        <div class="card-body">
            <a href="{{ path('service_update' , {id : services[i].id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a>
            <a href="{{ path('service_delete' , {id : services[i].id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
        </div>
    </div>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}