{% extends 'layout.html.twig' %}

{% block title %}Modification d'un services!{% endblock %}

{% block body %}
    <h1>Modification service</h1>

    {{form(formulaire)}}
    <pre>
        Revenir à la liste des services <a href="{{ path('service_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}