{% extends 'layout.html.twig' %}

{% block title %}Modification d'un service{% endblock %}

{% block body %}
{{ form_start(formulaire) }}
<div class="card text-center border-warning mb-3">
    <div class="card-header">
        <h5>Modification d'un service</h5>
    </div>
    <div class="card-body">
        {{ form_row(formulaire.nom) }}
        {{ form_row(formulaire.salles) }}
    </div>
    <div class="card-footer text-muted">
        {{ form_end(formulaire) }}        
    </div>
</div>
{% endblock %}