{% extends 'layout.html.twig' %}


{% block body %}
    <h1>Ajout Réservation</h1>

    <td>{{form(formulaire)}}</td>
    <pre>
        Revenir à la liste des reservations <a href="{{ path('list_r')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}