body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
}

.menu a {
    margin: 20px;
    color: #9eddff;
    font-weight: bold;
    text-decoration: none;
}
.menu a:hover {
    color: rgb(255, 255, 255);
  }

.menu a:not([href]):not([class]) {
    color: rgb(255, 255, 255);
}

.menu a:not([href]):not([class]):hover {
    color: rgb(255, 255, 255);
}

.topbar { 
    background-color: #9eddff;
    top: 0;
    text-align: center;
    height: 80px }

.topbar img { 
    margin: 10px }

.menu { 
    background-color: #123e6a;
    text-align: center;
    padding: 10px }

.footer { 
    background-color: #123e6a;
    color: #9eddff;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    padding: 10px }

.contenu {
    text-align: center;
    margin: 20px 20%;
    margin-bottom: 100px;
}

.card {
    margin: 0 auto;
}