{% extends 'layout.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}
    <h1>Ajout d'un utilisateur</h1>

    <td>{{form(formulaire)}}</td>
    <pre>
        Revenir à la liste des utilisateurs <a href="{{ path('utilisateur_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}