{% extends 'layout.html.twig' %}

{% block title %}Modification d'un utilisateur{% endblock %}

{% block body %}
    <h1>Modification d'un utilisateur</h1>

    {{form(formulaire)}}
    <pre>
        Revenir à la liste des utilisateurs <a href="{{ path('utilisateur_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}