{% extends 'base.html.twig' %}



{% block title %}Réservation de réunion{% endblock %}

{% block body %}
<link rel="stylesheet" href="/pagetest.css" />

<div class="topbar">
    <a href="/"><img src="/logo-gsb.png" width= "100px"/></a>
</div>

<div class="menu">
    <a href="/">ACCUEIL</a>
    <a> | </a>
    <a href="/">RÉSERVER</a>
    <a> | </a>
    <a href="/">CONSULTER</a>
    <a> | </a>
    <a href="/">CONNEXION</a>
</div>

<div class="contenu">
    <h1>Ajout d'une réservation</h1>
    <a>Date début: </a></br>
    <a>Date fin: </a></br>
    <a>Créateur: </a></br>
    <a>Participants: </a></br>
    <a>Salle: </a>
</div>

<div class="footer">
    <a>Application v.1</a>
</div>
{% endblock %}
