{% extends 'layout.html.twig' %}

{% block title %}Liste des rôles{% endblock %}

{% block body %}
    <h1>
        <p>Les rôles</p><a href="{{ path('role_add' ) }}"><button type="button" class="btn btn-primary">Ajouter</button></a>
    </h1>
    {% if roles|length > 0 %}
    {% for i in 0..roles|length - 1 %}
    <div class="card border-secondary mb-3">
        <h5 class="card-header">{{roles[i].libelle }}</h5>
        <div class="card-body">
            <a href="{{ path('role_update' , {id : roles[i].id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a>
            <a href="{{ path('role_delete' , {id : roles[i].id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a> 
        </div>
    </div>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}