{% extends 'layout.html.twig' %}

{% block title %}Modification d'un rôle{% endblock %}

{% block body %}
    <h1>Modification d'un rôle</h1>

    {{form(formulaire)}}
    <pre>
        Revenir à la liste des roles <a href="{{ path('role_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}