{% extends 'layout.html.twig' %}

{% block title %}Ajouter une salle{% endblock %}

{% block body %}
    <h1>Ajouter une salle</h1>

    <td>{{form(formulaire)}}</td>
    <pre>
        Revenir à la liste des salles <a href="{{ path('salle_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>

{% endblock %}