{% extends 'layout.html.twig' %}

{% block title %}Modification d'une salle{% endblock %}

{% block body %}
    <h1>Modification d'une salle</h1>

    {{form(formulaire)}}
    <pre>
        Revenir à la liste des salles <a href="{{ path('salle_list')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}